:root {
  --color-primary: rgb(252, 78, 3);
  --color-background: rgb(13, 11, 11);
  --color-text-secondary: rgb(184, 177, 177);
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(./picture/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
}

.navbar_controls {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
}

canvas {
  position: absolute;
  top: 420px;
  background-image: url(./picture/road_1png.png);
}

.indicator {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.indicator__active {
  background-color: greenyellow;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  margin: 4px;
  width: 228px;
  height: 42px;
  color: var(--color-background);
  background-color: var(--color-primary);
  cursor: pointer;
}

.race-time {
  position: absolute;
  top: 54px;
  left: 43%;
  color: black;
  font-size: 42px;
  font-weight: 700;
}

.racers-info {
  position: fixed;
  color: white;
  padding: 16px;
}

table {
  text-align: left;
  width: 320px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: var(--color-text-secondary);
}

tr {
  padding: 4px;
}

.popap__overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0;
  z-index: -777;
}

.popap__overlay_active {
  opacity: 1;
  z-index: 777;
}

.popap__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 24px 16px 24px 16px;
  background-color: var(--color-background);
}

.popap__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

input {
  height: 32px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  border-color: var(--color-primary);
  background: rgb(224, 110, 33);
  margin-bottom: 16px;
}

label{
  color: var(--color-primary);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

select{
  height: 32px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  border-color: var(--color-primary);
  background: rgb(224, 110, 33);
  margin-bottom: 16px;
}